.dataheader{
    border: 1px solid pink;

}
.dataheader-inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    padding-top: 20px;
    padding-bottom: 40px;
    border-bottom: 1px solid grey;
}
.dataheader-inner .date{
    font-size: 24px;
}
.search-ico{
    width: 30px;
}

.search-ico img{
    width: 100%;
    vertical-align: top;
}